/* styles.css */

:root {
  font-size: 15px;

  --main-font: 'Poppins', sans-serif;
  --handwriting-font: 'Playwrite CA', cursive;
  --main-color: rgb(96, 46, 10);
  --secondary-color: paleturquoise;
  --text-color: #444;
  --bg-color: white;

}

* {
  margin: 0;
  padding: 0;

}

body, button, input, select {
  font-family: var(--main-font);
  color: var(--text-color);
}

body {
  background-color: var(--main-color);
  margin: 0;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



header > h1 {
  font-family: var(--handwriting-font);
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  color: var(--secondary-color);
  
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

button {
  display: block;
  font-size: 1.2rem;
  padding: 0.4rem 1.8rem;
  font-family: var(--main-font); 
  background-color: var(--secondary-color);
  border-left: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid  var(--main-color);
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  /* writing-mode: vertical-lr;
  text-orientation: upright;
  
   */
 
}


.menu-bg,
.about-bg,
.home-bg {
  background-color: var(--bg-color);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border: 1px solid var(--main-color);
}



#content {
  padding: 2rem;
  width:400px;
  
}



.home-img {
  max-width: 600px;
  height: 400px;
  border-radius: 16px;
  
}

.menu-latte-img {
  max-width: 400px;
  height: 400px;
  border-radius: 16px;
  

}

.home-subtitle, .about-subtitle {
  padding-bottom: 1rem;
}

.menu-item-div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem 0;
}

.menu-item-name {
  font-weight: 500;
  color: var(--main-color);
}

.menu-item-category {
  font-size: 0.8rem;
  background-color: var(--secondary-color);
  display: inline;
  padding: 0.2rem;
}

.owner-img {
  width: 300px;
  border-radius: 16px;
}

figcaption {
  font-size: 0.8rem;
}

footer { 
  padding: 5rem 0 ;
  color: var(--secondary-color);
  font-size: 0.7rem;
}


@media screen and (max-width: 768px) {

}